@font-face {
  font-family: 'latoitalic';
  src: url('./font/lato-italic-webfont.woff2') format('woff2'),
    url('./font/lato-italic-webfont.woff') format('woff'),
    url('./font/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: url('../images/tileable_wood_texture.WebP');
  font-family: 'latoitalic', sans-serif;
  max-width: 100%;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
}

img.warzywa {
  float: left;
  width: 49%;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
}

img.owoce {
  float: left;
  width: 49%;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
}

img.bakalie {
  width: 75%;
  margin-left: 25rem;
  margin: 1px;
}

textarea {
  height: 8.5rem;
  width: 13.25rem;
  vertical-align: middle;
  font-weight: 900;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
}

input {
  height: 2rem;
  font-weight: 900;
  background: transparent;
  outline: none;
  border: 1px dotted #fff;
}

.moj_input {
  background: transparent;
}

.input_box {
  vertical-align: middle;
  font-family: Arial;
  font-size: 0.875rem;
  width: 13.25rem;
  height: auto;
  margin: 2px;
  background: url('../images/big_box_bg_30.png');
}

.icon-search-1 {
  margin-left: auto;
  margin-right: 5rem;
  background-color: transparent;
}

.red {
  color: #c34f4f;
  font-weight: bold;
}

.green {
  color: #0b6c20;
  font-weight: bold;
}

.hidden > div {
  display: none;
}

.visible > div {
  display: block;
  margin-left: 325px;
}

.promo_all_site_box_big div {
  padding: 0;
}

.divContent1 {
  padding: 2px;
  color: #0b6c20;
  font-size: 1.5rem;
  text-align: center;
  display: none;
  margin: 0;
}

.multiclick {
  color: #0b6c20;
  font-size: 1.875rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 410px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

h1 {
  font-size: 20px;
  text-shadow: 0.1em 0.1em 0.2em #fff;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  text-shadow: 0.1em 0.1em 0.2em #fff;
  text-decoration: none;
  text-align: center;
}

h5 {
  font-size: 0.985rem;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.2em #fff;
}

p {
  text-align: center;
}

.cleaner {
  clear: both;
}

.promo_box_big img {
  width: 148px;
}

.p50p {
  width: 45%;
}

.marginl20 {
  margin-left: 20px;
}

.padd2 {
  padding: 2px;
  font-size: 14px;
}

.error {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  padding: 1px 0;
  font-size: 20px;
  margin: 0;
  list-style-type: none;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em #656f2a;
}

li:hover {
  border: 1px #c34f4f;
  border-width: 0 0 1px 0;
  text-align: left;
}

table {
  margin-top: 3rem;
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  text-align: center;
}

.logo {
  font-size: 2.75rem;
  font-weight: bold;
  text-align: center;
  border: 0;
  padding: 0;
  width: 100%;
}

.pan {
  text-align: center;
  color: #c34f4f;
  text-shadow: 0.2em 0.2em 0.2em;
}

.zieleniak {
  text-align: center;
  color: #0b6c20;
  text-shadow: 0.2em 0.2em 0.2em;
}

.logowanie {
  color: #c34f4f;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  margin-left: 425px;
  margin-right: auto;
  display: inline-block;
}

.green_button {
  cursor: pointer;
  text-decoration: none;
  width: 80px;
  height: 33px;
  background: url('../images/green_button.png');
  display: block;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
}

.green_button:hover {
  text-decoration: underline;
  color: #e1d2b8;
}

.green_button a {
  text-align: center;
  font-size: 0.875rem;
  color: #e1d2b8;
}

.green_button.product_add_btn.rec_add {
  line-height: 1.063rem;
  display: block;
  background: none;
}

.menu {
  text-align: left;
  left: 0;
  position: fixed;
  display: inline-block;
  top: 1.25rem;
}

.button-menu {
  color: #0b6c20;
  width: 350px;
  font-weight: bold;
  display: none;
  text-align: left;
  margin: 0;
}

.hello {
  font-size: 2rem;
  text-align: center;
  color: #0b6c20;
  font-weight: bold;
}

.zakupy {
  font-size: 24px;
  margin-left: 650px;
  margin-right: auto;
  color: #0b6c20;
}

.basket {
  font-size: 28px;
}

.slider-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 440px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 20px;
}

.slider-nav {
  position: absolute;
  margin-top: -20rem;
  width: 3rem;
  height: 5rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}

#slider-left {
  left: 12%;
}

#slider-right {
  left: 51%;
}

.slide-wrap {
  position: relative;
  height: auto;
  top: 0;
  left: 0;
}

.slider-slide-wrap {
  position: absolute;
  width: 680px;
  margin-left: 3.125rem;
}

.left {
  width: 260px;
}

.lefty {
  float: left;
}

.right {
  float: right;
}

.obrazek {
  text-align: center;
}

.obrazki {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.bakalie {
  margin-left: 12.5rem;
}

.ramkaproduktu {
  width: 220px;
  height: 180px;
  display: inline-block;
  margin-top: 5px;
  text-align: center;
}

.zdjproduktu {
  width: 220px;
  height: 164px;
  margin-top: 5px;
}

.pokaz_produkt {
  text-align: center;
  font-size: 36px;
  text-shadow: 0.1em 0.1em 0.2em #fff;
  text-decoration: none;
}

.promo_all_site_box_big {
  width: 800px;
  height: auto;
}

.promo_box_big_top_left {
  -webkit-border-top-left-radius: 15px;
  -khtml-border-radius-topleft: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}

.promo_box_big_bottom_left {
  -webkit-border-bottom-left-radius: 15px;
  -khtml-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
}

.promo_box_big_top_right {
  -webkit-border-top-right-radius: 15px;
  -khtml-border-radius-topright: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
}

.promo_box_big_bottom_right {
  overflow: hidden;
  -webkit-border-bottom-right-radius: 15px;
  -khtml-border-radius-bottomright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
}

.small_box {
  width: 247px;
  height: auto;
  text-align: center;
}

.small_box_top {
  width: 250px;
  height: auto;
  font-size: 20px;
  color: #c34f4f;
  line-height: 42px;
  text-shadow: 0.1em 0.1em 0.1em #fff;
  background: url('img/small_box_top.png');
  position: absolute;
}

.big_box_off {
  margin: 1px;
  background: url('../images/big_box_bg_30.png');
  border: 5px solid #e4e0d0;
}

.footer {
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  color: rgb(133, 243, 157);
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

.info {
  position: static;
  clear: both;
  color: #0b6c20;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  left: 0;
  display: inline;
}

.pokaz {
  margin-left: 0 !important;
}

.action {
  background: transparent;
  color: #0b6c20;
  border-color: transparent;
  cursor: pointer;
  line-height: 0;
  margin-left: 0;
}

.panelboczny {
  clear: both;
  float: left;
  width: 12%;
  min-height: 500px;
  font-size: 1rem;
  font-weight: 900;
  margin-right: 0.5rem;
  position: relative;
  text-align: center;
}

.infodostawa {
  font-size: 23px;
  text-align: center;
  color: #c34f4f;
  font-weight: 900;
  position: absolute;
}

.kontener {
  margin: auto auto;
  width: 88%;
  height: auto;
  text-align: left;
}

.in {
  margin: 5%;
  margin-left: 25%;
  width: 105px;
  height: 100px;
  background-color: #c34f4f;
  float: left;
  text-align: center;
}

.in:hover {
  background-color: #ce1f1f;
}

.sociallink {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 105px;
  height: 142px;
}

.formularz {
  background-color: transparent;
  width: 13.875rem;
  height: 2rem;
}

#cookieinfo * {
  margin: 0px;
  padding: 0px;
}

#cookieinfo {
  position: fixed;
  font-size: 12px;
  font-family: Arial, Verdana, sans-serif;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #323334;
  padding: 20px;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#cookieinfo h6 {
  font-size: 16px;
  font-weight: bold;
  color: #cdd7da;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  margin-bottom: 7px;
}

#cookieinfo p {
  font-size: 12px;
  color: #afb4bc;
  line-height: 1.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

#cookieinfo a {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  line-height: 22px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #ff6000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

#cookieinfo a:hover {
  background-color: #ff7925;
}
